*{
    padding: 0;
    border: 0;
    margin: 0;
    color: white;

}

.title-container{
    padding: 20px;
    display: flex;
    justify-content: center;

}

.title{

    background-color: rgba(5, 5, 5, 0.03);
    border-radius: 25%;
    box-shadow:
    inset 0 2px 8px rgba(255,255,255,0.08),
    0 10px 40px rgba(175, 175, 175, 0.349);
}

.page-description{
  border-radius: 2%;
  padding: 100px;
  background-color: rgba(5, 5, 5, 0.03);
  /* border-radius: 55%; */
  box-shadow:
  inset 0 2px 8px rgba(255,255,255,0.08),
  0 10px 40px rgba(175, 175, 175, 0.747);
}
.container{
  padding: 140px;

}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;  
}
ul{
  display: flex;
  flex-direction: row;
  gap: 140px;
}
li{ 
    display: flex;
    list-style-type: none; 
    padding: 6px;
    box-shadow:
    inset 0 2px 8px rgba(255,255,255,0.08),
    0 10px 40px rgba(175, 175, 175, 0.199);
}


.bikeimage img {
    
  width: 200px;
  max-width: none;
  display: flex;
  
}

.description{
height: 200px;
width: 300px;
}

.CB{
    gap: 80px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.MT{
    gap: 80px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
}

.GSX{
    gap: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
}

.YR{
    gap: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
}

.nav-motos{
    
    background-color: rgba(5, 5, 5, 0.03);
    gap: 20px;
    display: flex;
    flex-direction:column;
    width: 300px;
    height: 400px;
    align-items: center;
    padding:15px;
    border-radius: 15%;

    box-shadow:
    inset 0 2px 8px rgb(255, 255, 255),
    0 10px 40px rgba(134, 134, 134, 0.671);
}

h3{
  display: flex;
  justify-content: center;
  padding: 30px;
  
}




/* background */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  background: #000000;
  overflow-x: hidden;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(
      farthest-side at 30% 20%,
      rgba(255, 255, 255, 0.200),
      transparent 70%),

    radial-gradient(
      farthest-side at 70% 80%,
      rgba(255, 255, 255, 0.200),
      transparent 75%),

    linear-gradient(180deg, #000000, #000000);

  filter: blur(15px);
  transform: scale(1.1);
}

